
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
body{font-family: 'Poppins', sans-serif;}

.mtapp-wrapper .modal {
    z-index: 1000 !important;
    padding-left: 0 !important
}

.modal-backdrop {
    z-index: 999 !important
}

table.table {
    width: 100%;
    font-size: 14px
}

.mtapp-wrapper .navbar {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
    z-index: 998
}

table.table .checkbox {
    margin-bottom: 0 !important;
    padding-left: 7px
}

.mtapp-wrapper .text-warning {
    color: orange !important
}

.nav.navbar-nav a:hover {
    background: #e7e7e7 !important
}

.nav.navbar-nav .active a:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 42%;
    border: 10px solid transparent;
    border-top-color: #e7e7e7
}

.nav.navbar-right {
    margin-right: 15px
}

.mtapp-wrapper-body {
    margin-top: 75px;
    display: block;
    margin-bottom: 20px
}

.mtapp-wrapper label {
    font-weight: 500 !important;
    padding: 6px
}

.mtapp-wrapper .modal-footer .btn {
    font-size: 16px
}

.mt-loading {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    top: 40%;
    width: 100%;
    z-index: 9999
}

.mt-loading:before,
.mt-message .mt-overlay:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5)
}

.mt-message .alert {
    position: relative
}

.mt-loading img {
    width: 50px
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 26px
}

.switch-form {
    top: 26px !important;
    left: 15px !important;
    position: absolute !important
}

.switch input {
    display: none
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s
}

.slider::after {
    content: "OFF";
    right: 10px;
    position: absolute;
    top: 3px;
    color: #999
}

input:checked+.slider {
    background-color: #3f51b5
}

input:focus+.slider {
    box-shadow: 0 0 1px #3f51b5
}

input:checked+.slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px)
}

input:checked+.slider::after {
    content: "ON";
    position: absolute;
    top: 3px;
    left: 10px;
    color: #fff
}

.slider.round {
    border-radius: 34px;
    font-size: 14px
}

.slider.round:before {
    border-radius: 50%
}

.input-field {
    width: 100%;
    padding: 7px 20px 7px 90px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
    -webkit-transition: .5s;
    transition: .5s;
    outline: none;
    border-radius: 34px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #9a9a9a
}

.input-field:focus {
    border: 1px solid #555
}

.input-field-nopadding {
    padding-left: 20px !important;
    border-radius: 34px;
    width: 56%
}

.row-item {
    margin: 10px 0
}

.input-container code {
    padding: 0 !important;
    background: 0 0 !important
}

.button-save {
    border-radius: 34px;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 5px 15px;
    transition: all .5s;
    cursor: pointer;
    box-shadow: 0 1px 4px 0 #333;
    position: relative;
    outline: none;
    display: none;
    margin-left: 5px
}

.mtapp-wrapper button:focus,
.mtapp-wrapper button:active {
    outline: none;
    color: #fff
}

.button-save span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s
}

.button-save span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -12px;
    transition: .5s
}

.button-save:hover span {
    padding-right: 12px;
    color: #fff
}

.button-save:hover span:after {
    opacity: 1;
    right: 0
}

.mt-tablink {
    background-color: #ddd;
    color: #fff;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    width: 33.33%;
    box-shadow: 0 3px #999;
    border-radius: 34px
}

.mt-tablink:hover {
    background-color: #ccc
}

.mt-tabcontent {
    max-height: 100%;
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    height: auto;
    width: 100%
}

.mt-tabcontent .row {
    padding: 10px 0
}

.margin-top-bottom-5 {
    margin: 5px 0
}

ul.ul-note {
    padding-left: 0
}

ul.ul-note li {
    list-style: none
}

.radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 6px;
    cursor: pointer;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%
}

.radio-container:hover input~.radio-checkmark {
    background-color: #ccc
}

.radio-container input:checked~.radio-checkmark {
    background-color: #92c016
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none
}

.radio-container input:checked~.radio-checkmark:after {
    display: block
}

.radio-container .radio-checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff
}

.jscolor-custom {
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    text-indent: -9999
}

input.jscolor-custom01 {
    position: absolute;
    right: 58px;
    top: 6px
}

input.jscolor-custom02 {
    position: absolute;
    right: 25px;
    top: 6px
}

.rangeslider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;
    background: gray;
    outline: none;
    margin-top: 15px;
    -webkit-transition: .2s;
    transition: opacity .2s
}

.rangeslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #92c016;
    cursor: pointer
}

.rangeslider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #fff;
    border: 3px solid #92c016;
    cursor: pointer
}

.mt-message {
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 999;
    right: 50px;
    bottom: 50px
}

.mt-message.show {
    visibility: visible;
    -webkit-animation: fadein .5s, fadeout .5s 2.5s;
    animation: fadein .5s, fadeout .5s 2.5s
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0
    }

    to {
        bottom: 30px;
        opacity: 1
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0
    }

    to {
        bottom: 30px;
        opacity: 1
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1
    }

    to {
        bottom: 0;
        opacity: 0
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1
    }

    to {
        bottom: 0;
        opacity: 0
    }
}

.modal-dialog {
    height: 100%;
    padding: 0;
    margin-top: 50px !important
}

.support-form-wrapper .modal-dialog {
    width: 50% !important
}

.tooltip {
    z-index: 9999 !important
}

#add-form .modal-header,
#edit-form .modal-header {
    border: 0
}

.tabs-left,
.tabs-right {
    border-bottom: none;
    padding-top: 2px
}

.tabs-left {
    border-right: 1px solid #ddd
}

.tabs-right {
    border-left: 1px solid #ddd
}

.tabs-left>li,
.tabs-right>li {
    float: none;
    margin-bottom: 2px
}

.tabs-left>li {
    margin-right: -1px
}

.tabs-right>li {
    margin-left: -1px
}

.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
    border-bottom-color: #ddd;
    border-right-color: transparent;
    border-radius: 0;
    border-left: 2px solid #5c6ac4
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
    border-bottom: 1px solid #ddd;
    border-left-color: transparent
}

.tabs-left>li>a {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    display: block
}

.tabs-right>li>a {
    border-radius: 0 4px 4px 0;
    margin-right: 0
}

.checkbox-inline {
    margin-bottom: 20px !important;
    padding-top: 0 !important;
    font-weight: 500 !important
}

#mtapp-footer {
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    background-color: #f8f9fa !important;
    clear: both
}

@media(max-width:768px) {
    .row-mobile {
        margin-top: 20px
    }

    .support-form-wrapper .modal-dialog {
        width: 98% !important
    }
}

.fa-live::before {
    content: "\f17a"
}

.layout-mt-socials {
    display: block;
    width: 100%;
    max-width: 800px;
    margin: 10px 0;
    text-align: center;
    font-family: open sans, sans-serif
}

.layout-mt-socials a {
    font-family: open sans, sans-serif;
    font-weight: 400
}

.layout-mt-socials .fa:before {
    font-family: fontawesome !important
}

.layout-mt-socials .mt-social-connect {
    display: inline-block;
    text-align: center;
    padding: 0;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: #fff;
    box-sizing: border-box
}

.layout-mt-socials .mt-social-connect:hover {
    opacity: .7;
    color: #fff
}

.cl-paypal {
    background-color: #019cde !important
}

.cl-reddit {
    background-color: #000 !important
}

.cl-naver {
    background-color: #1ec800 !important
}

.cl-spotify {
    background-color: #1db954 !important
}

.cl-facebook {
    background-color: #3c5a99 !important
}

.cl-twitter {
    background-color: #1da1f2 !important
}

.cl-google {
    background-color: #db4437 !important
}

.cl-linkedin {
    background-color: #0077b5 !important
}

.cl-instagram {
    background-color: #c13584 !important
}

.cl-amazon {
    background-color: #f90 !important
}

.cl-youtube {
    background-color: red !important
}

.cl-pinterest {
    background-color: #c92228 !important
}

.cl-live {
    background-color: #00a4ef !important
}

.cl-wordpress {
    background-color: #464646 !important
}

.cl-dropbox {
    background-color: #007ee5 !important
}

.cl-flickr {
    background-color: #ff0084 !important
}

.cl-mailchimp {
    background-color: #ffe01b !important
}

.cl-vimeo {
    background-color: #19b7ea !important
}

.cl-disqus {
    background-color: #2e9fff !important
}

.mt-size-big .mt-social-connect {
    width: 64px;
    font-size: 30px;
    height: 64px;
    line-height: 64px
}

.mt-size-big-2 .mt-social-connect {
    min-width: 220px;
    font-size: 30px;
    height: 64px
}

.mt-size-normal .mt-social-connect {
    width: 48px;
    font-size: 24px;
    height: 48px;
    line-height: 48px
}

.mt-size-small .mt-social-connect {
    width: 32px;
    font-size: 18px;
    height: 32px;
    line-height: 32px
}

.layout-mt-social-2 .mt-social-connect {
    border-radius: 5px
}

.layout-mt-social-3 .mt-social-connect {
    border-radius: 50%
}

.layout-mt-social-4 .mt-social-connect.cl-facebook {
    background-color: #fff !important;
    color: #3c5a99;
    border: 1px solid #3c5a99
}

.layout-mt-social-4 .mt-social-connect.cl-twitter {
    background-color: #fff !important;
    color: #1da1f2;
    border: 1px solid #1da1f2
}

.layout-mt-social-4 .mt-social-connect.cl-google {
    background-color: #fff !important;
    color: #db4437;
    border: 1px solid #db4437
}

.layout-mt-social-4 .mt-social-connect.cl-linkedin {
    background-color: #fff !important;
    color: #0077b5;
    border: 1px solid #0077b5
}

.layout-mt-social-4 .mt-social-connect.cl-instagram {
    background-color: #fff !important;
    color: #c13584;
    border: 1px solid #c13584
}

.layout-mt-social-4 .mt-social-connect.cl-amazon {
    background-color: #fff !important;
    color: #f90;
    border: 1px solid #f90
}

.layout-mt-social-4 .mt-social-connect.cl-youtube {
    background-color: #fff !important;
    color: red;
    border: 1px solid red
}

.layout-mt-social-4 .mt-social-connect.cl-pinterest {
    background-color: #fff !important;
    color: #c92228;
    border: 1px solid #c92228
}

.layout-mt-social-4 .mt-social-connect.cl-live {
    background-color: #fff !important;
    color: #00a4ef;
    border: 1px solid #00a4ef
}

.layout-mt-social-4 .mt-social-connect.cl-wordpress {
    background-color: #fff !important;
    color: #464646;
    border: 1px solid #464646
}

.layout-mt-social-4 .mt-social-connect.cl-dropbox {
    background-color: #fff !important;
    color: #007ee5;
    border: 1px solid #007ee5
}

.layout-mt-social-4 .mt-social-connect.cl-flickr {
    background-color: #fff !important;
    color: #ff0084;
    border: 1px solid #ff0084
}

.layout-mt-social-4 .mt-social-connect.cl-mailchimp {
    background-color: #fff !important;
    color: #ffe01b;
    border: 1px solid #ffe01b
}

.layout-mt-social-4 .mt-social-connect.cl-vimeo {
    background-color: #fff !important;
    color: #19b7ea;
    border: 1px solid #19b7ea
}

.layout-mt-social-4 .mt-social-connect.cl-disqus {
    background-color: #fff !important;
    color: #2e9fff;
    border: 1px solid #2e9fff
}

.layout-mt-social-4 .mt-social-connect.cl-naver {
    background-color: #fff !important;
    color: #1ec800;
    border: 1px solid #1ec800
}

.layout-mt-social-4 .mt-social-connect.cl-spotify {
    background-color: #fff !important;
    color: #1db954;
    border: 1px solid #1db954
}

.layout-mt-social-4 .mt-social-connect.cl-paypal {
    background-color: #fff !important;
    color: #019cde;
    border: 1px solid #019cde
}

.layout-mt-social-4 .mt-social-connect.cl-reddit {
    background-color: #fff !important;
    color: #000;
    border: 1px solid #000
}

.layout-mt-social-4 .mt-social-connect {
    border-radius: 50%
}

.layout-mt-social-5 .mt-social-connect,
.layout-mt-social-6 .mt-social-connect,
.layout-mt-social-8 .mt-social-connect {
    text-align: left
}

.layout-mt-social-5.mt-size-big-2 .mt-social-connect {
    font-size: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: inset 0 -.5em 0 -.35em rgba(0, 0, 0, .17);
    line-height: 60px;
    padding: 0 20px;
    height: 64px
}

.layout-mt-social-5.mt-size-normal-2 .mt-social-connect {
    min-width: 170px;
    font-size: 24px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: inset 0 -.5em 0 -.35em rgba(0, 0, 0, .17);
    line-height: 44px;
    padding: 0 20px;
    height: 48px
}

.layout-mt-social-5.mt-size-small-2 .mt-social-connect {
    min-width: 140px;
    font-size: 15px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: inset 0 -.5em 0 -.35em rgba(0, 0, 0, .17);
    line-height: 39px;
    padding: 0 10px;
    height: 40px
}

.layout-mt-social-5 .mt-social-connect .mt-label,
.layout-mt-social-6 .mt-social-connect .mt-label {
    display: inline-block;
    line-height: 1;
    margin: 0 0 0 10px;
    padding: 0
}

.layout-mt-social-7 .mt-social-connect .mt-label {
    display: inline-block;
    line-height: 1;
    margin: 0 0 0 5px;
    padding: 0
}

.layout-mt-social-3.mt-size-big .mt-social-connect,
.layout-mt-social-4.mt-size-big .mt-social-connect,
.layout-mt-social-5.mt-size-big-2 .mt-social-connect .mt-label {
    font-size: 28px
}

.layout-mt-social-3.mt-size-normal .mt-social-connect,
.layout-mt-social-4.mt-size-normal .mt-social-connect,
.layout-mt-social-5.mt-size-normal-2 .mt-social-connect .mt-label {
    font-size: 22px
}

.layout-mt-social-3.mt-size-small .mt-social-connect,
.layout-mt-social-4.mt-size-small .mt-social-connect,
.layout-mt-social-5.mt-size-small-2 .mt-social-connect .mt-label {
    font-size: 16px
}

.layout-mt-social-6.mt-size-big-2 .mt-social-connect {
    font-size: 30px;
    line-height: 64px;
    padding: 0 20px;
    height: 64px
}

.layout-mt-social-6.mt-size-normal-2 .mt-social-connect {
    min-width: 170px;
    font-size: 17px;
    line-height: 42px;
    padding: 0 15px;
    height: 42px
}

.layout-mt-social-6.mt-size-small-2 .mt-social-connect {
    min-width: 140px;
    font-size: 15px;
    line-height: 39px;
    padding: 0 20px;
    height:40px
}

.layout-mt-social-7.mt-size-big-2 .mt-social-connect {
    font-size: 30px;
    line-height: 64px;
    padding: 0 20px;
    height: 64px;
    border-radius: 32px
}

.layout-mt-social-7.mt-size-normal-2 .mt-social-connect {
    min-width: 170px;
    font-size: 24px;
    line-height: 48px;
    padding: 0 20px;
    height: 48px;
    border-radius: 24px
}

.layout-mt-social-7.mt-size-small-2 .mt-social-connect {
    min-width: 140px;
    font-size: 15px;
    line-height: 39px;
    padding: 0 20px;
    height:40px;
    border-radius: 16px
}

.layout-mt-social-6 .mt-social-connect,
.layout-mt-social-7 .mt-social-connect {
    color: #fff !important;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .05)), color-stop(100%, rgba(0, 0, 0, .3)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background-clip: padding-box
}

.layout-mt-social-8.mt-size-big-2 .mt-social-connect {
    font-size: 24px;
    line-height: 55px;
    padding: 0 20px 0 75px;
    height: 55px;
    position: relative;
    min-width: 225px
}

.layout-mt-social-8.mt-size-big-2 .mt-social-connect i {
    position: absolute;
    left: 0;
    top: 0;
    width: 55px;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255, .1);    line-height: 55px;
}

.layout-mt-social-8.mt-size-normal-2 .mt-social-connect {
    min-width: 165px;
    font-size: 20px;
    line-height: 40px;
    padding: 0 20px 0 50px;
    height: 40px;
    position: relative
}

.layout-mt-social-8.mt-size-normal-2 .mt-social-connect i {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255, .1);    line-height: 40px;
}

.layout-mt-social-8.mt-size-small-2 .mt-social-connect {
    min-width: 125px;
    font-size: 15px;
    line-height: 39px;
    padding: 0 20px 0 37px;
    height: 40px;
    position: relative
}

.layout-mt-social-8.mt-size-small-2 .mt-social-connect i {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    text-align: center;
    background-color: rgb(255, 255, 255, .1);    line-height: 40px;
}

.list-social-services li>label {
    width: 35%
}


.list-social-services {
    list-style: none;
    display: block;
    padding: 5px 10px;
    max-width: 750px
}

.list-social-services li {
    display: inline-flex;
    width:48%;
    list-style: none;
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
    padding: 2px 15px;
    overflow: hidden;
    position: relative;
    background: transparent !important;    padding-left:45px;align-items:center;
}

.list-social-services li .detail {
    float: right;
    position: absolute;
    top: 4px;
    left: 1px
}

.list-social-services li .detail .input-right {
    float: right;
    max-width: 60px
}

.list-social-services li .detail input {
    color: #333;
    text-align: center;
    height: 26px
}

.list-social-services li .detail .switch {
    margin: 0 15px 0 10px
}

.list-social-services li .mt-icon {
    width: 30px;
    height: 30px;
    line-height: 26px;
    text-align: center;
    margin-right: 7px;
    background: #3b5998;
    border-radius: 50%;
    padding: 0;
    display: flex;
    flex-shrink: 0;
    color: #fff;
    align-items: center;
    justify-content: center;    font-size: 15px;
}

.mt-icon:before{position: relative;    top: 1px;}

.list-social-services li>label {
    font-size: 20px;
    display: inline-block;
    line-height: 26px;margin-bottom: 0;
}

.fa-live::before {
    content: "\f17a"
}

.cl-facebook {
    background-color: #3c5a99
}

.cl-twitter {
    background-color: #1da1f2
}

.cl-google {
    background-color: #db4437
}

.cl-linkedin {
    background-color: #0077b5
}

.cl-instagram {
    background-color: #c13584
}

.cl-amazon {
    background-color: #f90
}

.cl-youtube {
    background-color: red
}

.cl-pinterest {
    background-color: #c92228
}

.cl-live {
    background-color: #00a4ef
}

.cl-wordpress {
    background-color: #464646
}

.cl-dropbox {
    background-color: #007ee5
}

.cl-flickr {
    background-color: #ff0084
}

.cl-mailchimp {
    background-color: #ffe01b
}

.cl-vimeo {
    background-color: #19b7ea
}

.cl-disqus {
    background-color: #2e9fff
}

.cl-naver {
    background-color: #1ec800
}

.cl-spotify {
    background-color: #1db954
}


/*social icon color*/

.cl-facebook .mt-icon {
    color: #3c5a99
}

.cl-twitter .mt-icon {
    color: #1da1f2
}

.cl-google .mt-icon {
    color: #db4437
}

.cl-linkedin .mt-icon {
    color: #0077b5
}

.cl-instagram .mt-icon {
    color: #c13584
}

.cl-amazon .mt-icon {
    color: #f90
}

.cl-youtube .mt-icon {
    color: red
}

.cl-pinterest .mt-icon {
    color: #c92228
}

.cl-live .mt-icon {
    color: #00a4ef
}

.cl-wordpress .mt-icon {
    color: #464646
}

.cl-dropbox .mt-icon {
    color: #007ee5
}

.cl-flickr .mt-icon {
    color: #ff0084
}

.cl-mailchimp .mt-icon {
    color: #ffe01b
}

.cl-vimeo .mt-icon {
    color: #19b7ea
}

.cl-disqus .mt-icon {
    color: #2e9fff
}

.cl-naver .mt-icon {
    color: #1ec800
}

.cl-spotify .mt-icon {
    color: #1db954
}















.btn-default-cus {
    border: 1px solid #d1d3e2;
    background-color: #fff;
    cursor: pointer
}

.option-style {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    border: 1px solid #c2c2c2;
    background-color: #c2c2c2;
    display: block
}

.btn-default-cus.active {
    border: dashed 1px #035240
}

.btn-default-cus.active>.option-style {
    background-color: #3f51b5;
    border-color: #3f51b5
}

.option-style-2 {
    border-radius: 5px
}

.option-style-3 {
    border-radius: 50px
}

.option-style-4 {
    background-color: #fff;
    border: 3px solid #c2c2c2;
    border-radius: 50%
}

.option-style-5 {
    border: 0;
    box-shadow: inset 0 -.6em 0 -.35em rgba(0, 0, 0, .17);
    border-radius: 5px
}

.option-style-6 {
    border: 0;
    color: #fff !important;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .05)), color-stop(100%, rgba(0, 0, 0, .3)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background-clip: padding-box
}

.option-style-7 {
    border: 0;
    border-radius: 10px;
    color: #fff !important;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, .05)), color-stop(100%, rgba(0, 0, 0, .3)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .05) 0, rgba(0, 0, 0, .3) 100%);
    background-clip: padding-box
}

.option-style-8 {
    border: 0;
    position: relative;
    padding-left: 20px
}

.option-style-8:before {
    content: '';
    background: #fff;
    opacity: .2;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 100%
}

.btn-default-cus.active>.option-style-4 {
    background-color: #fff;
    border: 3px solid #3f51b5
}

.socials-input-label {
    border: 0;
    font-size: 15px;
    color: #333;
    background: #fff;

    margin-top: 0px;
    outline: 0
}

.socials-input-label:focus {
    border-bottom: 1px solid #fff
}

.bs-example {
    position: relative;
    padding: 15px;
    margin: 0 -15px 15px;
    border-color: #e5e5e5 #eee #eee;
    border-style: solid;
    border-width: 1px 0;
    -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, .05);
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none
}



.item-social.active {
    opacity: 1
}

.social_heading {
    text-align: center;    font-size: 14px;
}

.btn-default-cus .btn-preview {
    display: none
}

.nav-link.active,
.nav-link:hover {
    background: transparent;    border-bottom: 2px solid;
}






/*New Css Add by Rajendra Chandeliya    */

.card-title .tabs-animated-shadow2 { border-bottom: 1px solid #ddd; }
.card-title .tabs-animated-shadow2 li.nav-item:last-child {     flex: 1;  text-align: right; }
.card-title .tabs-animated-shadow2 li.nav-item .nav-link {  color:#000; }
.card-title .tabs-animated-shadow2 li.nav-item .nav-link.active, 
.card-title .tabs-animated-shadow2 li.nav-item .nav-link:hover {  color:#224abe; }
.main-card .card-body .position-relative.form-group .row{     align-items: flex-start; }
.list-social-services {      border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;     padding: 10px 0 0;margin:0;}
.main-card .card-title{  margin-bottom:0; }

/*.cl-facebook { border: 2px solid #3c5a99; }
.cl-twitter { border: 2px solid #1da1f2; }
.cl-google { border: 2px solid #db4437; }
.cl-linkedin { border: 2px solid #0077b5; }*/
.tab-content.bg-white {     border-right: 1px dashed #ddd;  padding-right: 60px; }
button.btn.btn-lg.btn-primary.social-setting-btn { padding: 4px 15px;}

.list-social-services li .mt-icon.icon-twitter{background: #1da1f2;}
.list-social-services li .mt-icon.icon-google{background: #ea4335;}
.list-social-services li .mt-icon.icon-linkedin{background: #0077B5;}

.eEnableapp .mt-toggle .switcher:before{    margin-top: 2.5px;}
.customize-section label
.socialsmain{    padding: 20px 0;}
.customize-section label{font-size: 14px;color: #000;font-weight: 500;}
.btn-group-custom em{    font-size: 13px;color: #000;}
.customize-section label.btn-default-cus{    background: #edeff1;border-radius: 3px;}
.customize-section  .form-control{font-size:14px;}